.App {
  background-image: url("https://i.pinimg.com/originals/03/87/ef/0387ef0acdf21d21eaa8f2302608c183.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%
}
 
img{
width:100px;
margin: 25px;
}

.App h1{
  font-size: 50px;
  font-family: cursive;
  text-align: center;
  margin: 2px;
}

.floors{
  width: 60%;
}


.floor {
  background: rgba(255, 255, 255, 0.637);
  justify-content: center;
  display: flex;
  border: 2px solid black;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.floor-title{
  display: flex;

  font-family: cursive;
  font-size: 30px;
  text-align: center;
}

.lounges, .floor-lounges{

  display: flex;
  flex: 0 0 70%;
  font-family: Georgia,'times new roman',times,serif;
  font-size: 25px;
  flex-flow: wrap;
  flex-direction: row;
  justify-content:  space-evenly;
}
/* 
.lounge{
  background: whitesmoke;
  display: flex;
  flex: 0 0 40%;

  height:100px;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 3px;

} */
.lounge1{
  background: rgba(66, 248, 66, 0.932);
  display: flex;
  flex: 0 0 40%;
  height:100px;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 3px;
}
.lounge2{
    background: orange;
    display: flex;
    flex: 0 0 40%;
  
    height:100px;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 3px;
}

.lounge3{
      background: rgb(247, 80, 80);
      display: flex;
      flex: 0 0 40%;
    
      height:100px;
      flex-direction: column;
      border: 1px solid grey;
      border-radius: 3px;
}
.lounge-title{
  display: flex;
  flex: 0 0 10%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  font-family: 'Times New Roman', Times, serif;
}

.lounge-density {
  display: flex;
  flex: 0 0 10%;
  font-size: 25px;
  color: rgb(251, 255, 4);
  justify-content: center;
  margin:0;

}
